.art-page {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.art-piece-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 75%;
}

.art-piece {
  max-height: 25em;
  max-width: auto;
  box-shadow: 3px 3px 5px 3px;
}

.display-next-button {
  background-color: transparent;
  border: none;
  font-size: 40px;
  height: 3em;
  width: 3em;
  font-weight: 600;
  justify-self: flex-end;
}

.display-next-button-container {
  display: flex;
  align-items: center;
}