.favorite-art {
  /* max-height: 13em;
  max-width: 13em; */
  width: 210px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
}

.favorite-image {
  max-height: 10em;
  max-width: 10em;
  box-shadow: -3px 5px 5px rgb(54, 54, 54);
}
