.search {
  height: 2em;
  margin-top: 10px;
  border: 0;
  outline: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border-bottom: 2px solid grey; */
}

.search-input {
  border: 0;
  outline: none;
  outline: none;
  background-color: rgba(white, white, white, 5);
  /* text-decoration: underline; */
  border-bottom: 2px solid black;
  width: 270px;
}

.submit-button {
  height: 2em;
  color: black;
  border: none;
  color: grey;
  text-decoration: none;
}

.submit-button-active {
  color: #188FA7;
  text-decoration: underline;
  font-weight: bolder;
}

.search-image {
  height: 1em;
}