.art-details {
  display: flex;
  flex-direction: column;
  width: 20%;
  min-width: 25em;
}

.art-display-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.button {
  height: 2em;
  margin: 15px;
  outline: none !important;
}

.art-plaque {
  /* min-width: 200px; */
  height: 340px;
  width: 90%;
  background-color: rgb(204, 201, 196);
  display: flex;
  flex-direction: column;
  margin-top: 15%;
}

.favorite-button{
  width: 5em;
  background-color: rgb(204, 201, 196);
  border: none;
  outline: none !important;
  align-self: flex-end;
}

.details {
  margin-left: 35px
}

.title {
  margin-top: 5%;
}

