.button-nav {
  display: flex;
  flex-direction: row;
  position: absolute;
  right: 0px;
  width: 12em;
  margin: 15px 25px 0 0 
}

.button {
  height: 2em;
  width: 3em;
  /* margin: 5px; */
  padding-bottom: 3px;
  outline: none !important;
}

.link {
  margin: 10px;
}

.home-button {
  background-color: blue;
}

.home-highlighted, .search-highlighted, .favorites-highlighted {
  border-bottom: solid 2px rgb(51, 51, 51);
  /* box-shadow: 0 2px 0px grey; */
}

/* .search-highlighted {
  border-bottom: solid 2px rgb(51, 51, 51);
}

.favorites-highlighted {
  border-bottom: solid 2px rgb(51, 51, 51);
} */