.button-nav {
  display: flex;
  flex-direction: row;
  position: absolute;
  right: 0px;
  width: 12em;
}

.button {
  height: 2em;
  margin: 15px;
  outline: none !important;
}

.home-button {
  background-color: blue;
}

.home {
  /* background-color: blue; */
  border-bottom: solid 2px black;
}